@import url("../font/style.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.danger {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
.danger span {
  color: red;
}
.danger span:last-child {
  color: orange;
  cursor: copy;
}

.dictonary__wrapper {
  margin-top: 50px;
  width: 400px;
  height: 600px;
  -webkit-box-shadow: 50px 50px 100px #2b2651, -50px -50px 100px #ab98ff;
          box-shadow: 50px 50px 100px #2b2651, -50px -50px 100px #ab98ff;
}

.card {
  background: -o-linear-gradient(305deg, #e6e6e6, #ffffff);
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  -webkit-box-shadow: 12px 12px 36px #ab98ff, -8px -8px 16px #ab98ff;
          box-shadow: 12px 12px 36px #ab98ff, -8px -8px 16px #ab98ff;
}
.card .title {
  font-family: "Rubik Dirt", cursive;
}